name: C++ Tests

on:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y cmake g++ libgtest-dev

      - name: Build
        run: |
          cmake -S . -B build
          cmake --build build

      - name: Run Tests
        run: ./build/runTests